[submodule "frontend"]
	path = frontend
	url = https://github.com/thanhthuongle/HeyMoney-Web/tree/master
[submodule "backend"]
	path = backend
	url = https://github.com/thanhthuongle/HeyMoney-API/tree/master
